.about-content{
    h3{
        @media(min-width:576px){
            font-size: 35px;
            line-height: 40px; 
            margin-bottom: 35px;
        }
        @media(min-width:992px){
            font-size: 44px;
            line-height: 50px;
            margin-bottom: 50px; 
        }

        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        margin-bottom: 35px;
        max-width: 475px;
    }

    p{
        @media(min-width:992px){
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 50px; 
        }
        font-size: 18px;
        line-height: 25px;
        font-weight: 300;
        margin-bottom: 29px;
    }
    figure{
        @media(min-width:576px){ 
            margin-bottom: 45px;
        }
        @media(min-width:576px){ 
            margin-bottom: 66px;
        }
        margin-bottom: 25px;
    }
}


.about-section{
    .search-field{
        position: relative;
        .search-input{
            display: block;
            padding: 20px 24px;
            border: 1px solid $primary;
            margin-bottom: 43px;
            width: 100%;
        }
        .search-icon{
                display: block;
                position: absolute;
                bottom: 23px;
                right: 22px;
                font-size: 20px;
                text-decoration: none;
                color: lighten($primary, 50%);
            }

    }
}

