
.eror-section{
    .lead-section-title{
        margin-bottom: 32px;
    }
    .btn-more{
        color: #fff;
        border-color: #fff;
        a{
            text-decoration: none;
        }
    }
}

