
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

// font-family: 'Lato', sans-serif;

@font-face {
  font-family: 'Bodoni Book';
  src: local('Bodoni Book'),
       url('fonts/Bodoni Book.woff2') format('woff2'),
       url('fonts/Bodoni Book.woff') format('woff'),
       url('fonts/Bodoni Book.ttf')  format('truetype');
  font-weight: normal;   
}