footer{
    .footer-social{
        a{
            margin-left: 15px;
            margin-right: 15px;
            font-size: 21px;
            span{
                transition: 0.2s linear;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }

    }
    .footer-copy{
        font-size: 12px;

    }
}

