$toggler-color: $secondary;

header{
    
    .navbar-brand{
            max-width: 196px;
    }
    
    .navbar-toggler{
        border: none;
        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: $toggler-color;
            margin-bottom: 5px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    
    
    .navbar-nav{
        background-color: #fff;
        
        li{
            border-bottom: 2px solid $secondary;
            @media(min-width:768px){
                    margin-left: 40px;
                    border-bottom: none;
            }
            @media(min-width:992px){
                    margin-left: 72px;
            }
        .nav-link{
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: 400;
            padding: 10px;
            transition: 0.3s linear;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom: 1px solid $secondary;
            }
            &.active{
                border-bottom: 1px solid $secondary;
            }
        }
        }
    }
}
